.sidenav-fab-container{
  height:93%;
}
.sidenav{
  width: 10%;
  background: gainsboro;
}
.sidenav-list{
  margin-top:0px;
  padding: 0px;
  text-align: left;
  li{
    padding:10%;
    list-style: none;
    a{
      text-decoration: none;
    }
    i, span{
      color: black !important;
    }
    span {
      margin-left: 10%;;
    }
  }
  li:hover{
        background-color: darkorange;
        i, a, span{
           color:white !important;
       } 
    }
}
